{% extends 'films/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title mb-0">Добавить новый обзор фильма</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label form="id_title" class="form-label">Название фильма</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label form="id_description" class="form-label">Описание</label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        <label form="id_review" class="form-label">Ваш отзыв</label>
                        {{ form.review }}
                    </div>
                    <button type="submit" class="btn btn-primary">Представить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}